name: Push Encrypted FS Image

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/push_encfs_image.yml
      - cmd/azmount/**
      - cmd/remotefs/**
      - docker/encfs/**
      - tools/get-snp-report/bin/get-snp-report
      - tools/get-snp-report/bin/get-fake-snp-report
      - vendor/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/push_encfs_image.yml
      - cmd/azmount/**
      - cmd/remotefs/**
      - docker/encfs/**
      - tools/get-snp-report/bin/get-snp-report
      - tools/get-snp-report/bin/get-fake-snp-report
      - vendor/**

jobs:
  push-encfs-image:
    name: Push Encrypted FS Image
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to Azure Container Registry
        run: |
          az acr login \
            --name ${{ secrets.REGISTRY_NAME }} \
            --username ${{ secrets.REGISTRY_NAME }} \
            --password ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build Image
        run: docker/encfs/build.sh

      - name: Push Image
        run: |
          if [ ${{ github.event_name }} == "push" ]; then
            branch_name=main
          else  
            branch_name=${{ github.head_ref }}
          fi
          image_tag=$(echo ${branch_name:0:128} | sed 's/[^a-zA-Z0-9]/-/g')
          docker/encfs/push.sh \
            ${{ secrets.REGISTRY_NAME }} \
            ${{ secrets.REGISTRY_DOMAIN }} \
            encfs:$image_tag \
            --skip-login
